{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1> Terenure</h1>
    <h2>The Stirrer has been Stirred</h2>
    <a href="/about" class="btn btn-info">About</a>
    <br><br>
</div>
{% for job in complete_list %}
<div class="clearfix col-md-4 padding">
<div class="panel panel-default" >
  <div class="panel-body">

<ul class="list-group">
<h3>{{ job[0].name }}</h3>

   {% for work in job[1] %}
	<li class="list-group-item">
        {{ work.user }}
	</li>
   {% endfor %}
	<li class="list-group-item">

	<form action="/add_work" method="POST">
		<select name="user">
            {% for name in user %}
                <option value="{{ name.username }}">{{ name.nickname }}  </option>
            {% endfor %}
        </select>
		<input type="submit" name="job" value="{{ job[0].name }}"/>
	</form>
	</li>
</ul>
</div>
</div>
</div>

{% endfor %}

<div class="container col-xs-6 padding">
<div class="panel panel-default">
    <div class="panel-body">

    <form action="add_job" method="POST">
        <input type="text" name="job"/>
        <input type="submit" value="Add New Job"/>
    </form>

    </div>
</div>
</div>

</div>
{% endblock %}
